@import "../../sass/dependencies/all";

.input {
  margin: 0 0 20px 0;
}

.input--tel,
.input--number,
.input--text,
.input--email {
  height: 37px;
  padding: 0 8px;
  border: 1px solid $border-dark-grey;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
}

.input--radio,
.input--checkbox {
  margin: 0 10px 0 0;
}
