@import "../../sass/dependencies/all";

.select {
  font: inherit;
  color: inherit;
  height: 35px;
  padding: 0 30px 0 12px;
  background: url('../../assets/chosen-arrow-down.png') no-repeat $white;
  background-position: right 12px center;
  border: 1px solid $border-grey-v2;
  border-radius: 4px;
  max-width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Remove select arrow in IE11.
// @see https://stackoverflow.com/questions/16603979/select-removing-dropdown-arrow
select::-ms-expand {
  display: none;
}
