.table--mobile {
  border-collapse: collapse;

  &:not(.table--details) .table__row {
    > tr:first-child {
      td:nth-child(2) {
        font-weight: bold;
      }
    }

    &:first-child .table__sub-row:first-child .table__cell {
      border-top: solid 1px #e6e6e6;
    }

    .table__sub-row:not(:last-child) .table__cell {
      border-bottom: 0;
    }
  }

  &.table--mobile-headers .table__label {
    display: inline;
  }
}

.table--mobile {
  .table__cell {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.table__label {
  font-weight: bold;
}
